@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.underFiftyProducts-container {
    outline: 2px solid rgba(0, 0, 0, 0.205);
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.underFiftyProducts-container:hover {
    outline: 2px solid rgba(0, 0, 0, 0.6);
}

.product-header img {
    max-width: 21rem;
}

.product-details {
    padding: 1rem;
}

.product-title {
    font-size: 1rem;
    color: black;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-price {
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
}

a {
    text-decoration: none;
}
