@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6rem;
    transition: height 0.1s linear;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-bottom: 1.4px solid rgba(0, 0, 0, 0.2);
}

.nav-container.nav-sticky {
    height: 8rem !important;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 0.8rem;
}

.logo-container h6 {
    font-size: 2rem;
}

.logo {
    width: 4rem;
    height: 4rem;
    color: black;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin: 2rem;
    font-weight: 400;
}

.nav-links a:hover {
    text-decoration: underline;
}

.auth-container {
    margin-left: 46rem;
    background-color: white;
    display: inline-block;
    position: relative;
    padding: 10px;
    border-radius: 30px;
}

.login {
    background-color: white;
    color: black;
    padding: 10px 20px;
    position: relative;
    z-index: 2;
    font-size: 1.2rem;
    cursor: pointer;
}

.sign-up {
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
}
