@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.product-page-div {
    padding-top: 14rem;
    font-family: "Montserrat", sans-serif;
}

.product-div {
    /* height: 100%; */
    margin-bottom: 10rem;
    width: 100%;
    display: flex;
    position: relative;
}

.product-big-name {
    position: absolute;
    font-size: 2.2rem;
    top: 8px;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
}

.product-left {
    width: 50%;
    height: 100%;
    padding-top: 9rem;
}

.big-img {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
}

.big-img img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.product-right {
    width: 50%;
    height: 100%;
    background-color: #f4b183;
    padding: 12rem 5rem 8rem 5rem;
}

.product-spec {
    font-size: 1.2rem;
    margin-bottom: 5rem;
    line-height: 1.5;
    background-color: #f4b183;
}

.product-quant {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 5rem;
    font-weight: 600;
    align-items: center;
    background-color: #f4b183;
}

.product-btns {
    display: flex;
    border: 1px solid black;
}

.quantity-title {
    background-color: transparent;
}

.product-btns button {
    font-size: 2rem;
    width: 5.5rem;
    height: 5.5rem;
    color: black;
    cursor: pointer;
    background-color: white;
    border: none;
    transition: all 0.2s;
    background-color: #f4b183;
}

.product-btns button:first-child {
    border-right: 1px solid black;
}

.product-btns button:last-child {
    border-left: 1px solid black;
}

.product-btns button:hover {
    background-color: transparent;
}

.product-btns p {
    outline-offset: -2px;
    width: 6rem;
    height: 5rem;
    text-align: center;
    padding-top: 10px;
}

.product-price {
    background-color: transparent;
}

.atc-buy {
    display: flex;
    gap: 2rem;
    background-color: #f4b183;
}

.atc-buy button {
    width: 50%;
    height: 5.5rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.atc-btn {
    background-color: transparent;
    border: 2px solid black !important;
}

.atc-btn:hover {
    color: white;
    background-color: black;
}

.buy-btn {
    background-color: #b6002c;
    color: white;
    border: 2px solid #b6002c !important;
}

.buy-btn:hover {
    background-color: transparent;
    color: #b6002c;
}

.title-desc {
    font-size: 1.65rem;
}

/* notify */

@keyframes slidein {
    0% {
        top: -100%;
    }

    40% {
        top: 90px;
    }

    60% {
        top: 90px;
    }

    100% {
        top: -100%;
    }
}

@media (max-width: 900px) {
    .product-right {
        padding: 16rem 2rem 8rem 2rem;
    }
}

@media (max-width: 850px) {
    .product-div {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin-bottom: 6rem;
    }

    .product-right {
        width: 100%;
        padding: 3rem 2rem 4rem 2rem;
    }

    .product-left {
        width: 100%;
    }

    .product-big-name {
        width: 31rem;
        text-align: center;
    }
}

@media (max-width: 570px) {
    .specifications {
        gap: 2rem;
        flex-direction: column;
        margin-bottom: 28rem;
    }
}

@media (max-width: 450px) {
    .product-quant {
        flex-direction: column;
        gap: 2rem;
    }

    .product-spec {
        margin-bottom: 2rem;
    }

    .atc-buy {
        gap: 2rem;
        width: 100%;
        flex-direction: column;
    }

    .atc-buy button {
        width: 100%;
    }
}
