.underFifty {
    padding-bottom: 10rem;
}

.product-header img {
    width: 21rem;
}

.product-details {
    font-size: 1.7rem;
    padding: 1rem;
}

.underFifty h3 {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 4.2rem !important;
}

.row-container {
    display: flex;
    gap: 2.2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    position: relative;
    padding: 1rem 0.6rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.row-container::-webkit-scrollbar {
    display: none;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.title-btns {
    display: flex;
    justify-content: space-between;
}

.btns {
    color: white;
    background-color: #373737;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.btns-container {
    display: flex;
    gap: 0.4rem;
}

.btns:hover {
    background-color: black;
}
