@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.underFifty {
    padding-bottom: 10rem;
    margin-top: 3rem;
}

.product-header img {
    width: 21rem;
}

.product-details {
    font-size: 1.7rem;
    padding: 1rem;
}

.underFifty h3 {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 4.2rem !important;
    font-family: "Montserrat", sans-serif;
}

.row-container {
    display: flex;
    gap: 2.2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    position: relative;
    padding: 1rem 0.6rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.row-container::-webkit-scrollbar {
    display: none;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.title-btns {
    display: flex;
    justify-content: space-between;
}

.btns {
    background-color: white;
    color: #373737;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    transition: all 0.1s ease-in;
    border-radius: 8px;
}

.btns-container {
    display: flex;
    gap: 0.4rem;
}

.btns:hover {
    color: black;
}
